{% extends "computermonitor/base.html" %} 
{% load humanize %}
{% load staticfiles %}

{% block content %}






<div class="container">

     
    <div class="col-md-8"> 
        <div class="page-header">
        <h2>Computers  </h2>
           <div>
            <h3> <a href="{% url 'computermonitor:computer_list_detail'  %}"><span  class="glyphicon glyphicon-list-alt"></span></a></h3>
           </div>
        </div>
     
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Platform</th>
          <th>Name</th>
          <th>User</th>
          <th>Model</th>
          <th>Last Backup </th>
          <th>Backups </th>
        </tr>
      </thead>
      <tbody>

          {% for computer in computer_list %}
          <tr>
             
              {% if computer.platform == 2    %}
                     <td> <img src="{% static "computermonitor/images/apple.jpeg" %}" width="30"> </td>
              {%  endif  %}
         
              {% if computer.platform == 1    %}
              <td> <img src="{% static "computermonitor/images/windows.jpeg" %}" width="30"> </td>
              {%  endif  %}


              {% if computer.platform == 3    %}
              <td> <img src="{% static "computermonitor/images/linux.jpeg" %}" width="30"> </td>
              {%  endif  %}


            <td><a href="{% url 'computermonitor:computer_detail' pk=computer.pk %}"> {{ computer.name  }}</a></td>
            <td> {{ computer.user }} </td>
            <td> {{ computer.model }} </td>
            <td> {{ computer.lastBackupDate|naturaltime  }} </td>
            <td> {{ computer.backups.count }} </td>
          <tr>
          {% endfor %}
      </tbody>
    </table>
    
    {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
    {% endif %}




  </div>
</div>

{% endblock %}