{% extends "computermonitor/base.html" %} 
{% load humanize %}
{% load staticfiles %}
{% block content %}


<div class="container">

     
    <div class="col-md-6"> 
        <div class="page-header">
        <h2>Computers Backups</h2>  
        <div>
         <h3> <a href="{% url 'computermonitor:computer_list_detail'  %}"><span  class="glyphicon glyphicon-list-alt"></span></a></h3>
        </div>
        </div>
        
        <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Computer</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                    {% comment %} computer.computer_number.name  {% endcomment %}
                    {% for computer in computerbackup_list %}
                    <tr>
                      <td><a href="{% url 'computermonitor:computer_detail' pk=computer.computer_number.pk %}"> {{ computer.computer_number.name   }}</a></td>
                      {% if computer.backup_status == 'failure'  %}
                          <td style='color: red;'> {{ computer.backup_status|upper }} </td>
                      
                      {% else  %}
                          <td style='color: green;'> {{ computer.backup_status|upper }} </td>
                      {% endif %} 


                       <!-- datepublished backup_time-->

                      <td> {{ computer.datepublished|naturaltime }} </td>
                      <td> {{ computer.input_name }} </td>
                      
                      {% if user.is_authenticated %}
                        <td><a  href="{% url 'computermonitor:computerbackup_remove' pk=computer.pk %}" class="btn btn-danger">Delete </a></td>
                      {% endif %}

                    <tr>
                    {% endfor %}
                </tbody>
              </table>

              {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}






    </div>    
   
</div>

{% endblock %}


