{% extends "computermonitor/base.html" %} 
{% load staticfiles %}
{% block content %}


 <!-- custom styles -->
<link rel="stylesheet" href="{% static 'computermonitor/css/index.css' %}">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    

  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      function drawChart() {
        var success = Number("{{ success_backup_count }}")
        var number2 = Number("{{ failure_backup_count }}")
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Success',     success ],
          ['Faiures',     number2]    
        ]);

        var options = {
          title: 'Backup Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }

  

  </script>
  


<div class="container">
  
  <div class="row"> 
      <div class="col-md-4 backup_status_graph"> 
        <h3> Backup status:</h3>
        <div class="card" id="piechart" style="width: 350px; height: 300px;"></div>
      </div>
     
      <div class="col-md-3"> 
          <h3> Computers </h3>
          <div class="computer_count">
          <table class="table-bordered" >
              <tr> 
                <td> <img src="{% static "computermonitor/images/apple.jpeg" %}" width="50">   </td>
                <td>  {{  macintosh_computer_count  }}</td>
            
              </tr>
              <tr > 
                  <td> <img src="{% static "computermonitor/images/windows.jpeg" %}" width="50">   </td>
                  <td> {{ windows_computer_count }} </td>
                  
              </tr>
              <tr> 
                  <td> <img src="{% static "computermonitor/images/linux.jpeg" %}" width="50">   </td>
                  <td> {{ linux_computer_count }} </td>
                  
              </tr>    
        
          </table>
        </div>
      </div>
      
   </div>  
   
  
    <div  class="col-md-8 card">
          <div class="row backup_row"> 
              <div  class="card">
                    <div class="backup_title">
                          <h4> Sunday </h4>
                    </div>
                    {% for sunday in schedule_backup_day_sunday %}
                        <pre class="badge" > {{sunday.name}} {{ sunday.schedule_backup_time }} </pre> 
                    {% endfor %} 
                </div>
          
         
              <div  class="card">
                  <div class="backup_title">
                        <h4> Monday </h4>
                  </div>
                  {% for monday in schedule_backup_day_monday %}
                        <pre class="badge"> {{monday.name}} {{ monday.schedule_backup_time}} </pre> 
                  {% endfor %} 
              </div>    
       
              <div  class="card">
                  <div class="backup_title">
                      <h4> Tuesday </h4>
                  </div>
                  {% for tuesday in schedule_backup_day_tuesday %}
                      <pre class="badge"> {{ tuesday.name}} {{ tuesday.schedule_backup_time }}</pre> 
                  {% endfor %}
              </div>    
     
            <div  class="card">
                <div class="backup_title">
                  <h4> Wednesday </h4>
                </div>
                {% for wednesday in schedule_backup_day_wednesday %}
                    <pre class="badge"> {{ wednesday.name}} {{ wednesday.schedule_backup_time }}</pre>
                {% endfor %}
            </div> 
          </div>
  
          <div class="row backup_row"> 
              <div  class="card">
                  <div class="backup_title">
                      <h4> Thursday </h4>
                  </div>
                  {% for thursday in schedule_backup_day_thursday %}
                       <pre class="badge"> {{ thursday.name}} {{ thursday.schedule_backup_time }}</pre>
                  {% endfor %}
              </div>    
             
              <div  class="card">
                  <div class="backup_title">
                  <h4> Friday </h4>
                  </div>
                  {% for friday in schedule_backup_day_friday %}
                      <pre class="badge"> {{ friday.name}} {{ friday.schedule_backup_time }}</pre>
                  {% endfor %}
              </div>            
                  
              <div  class="card">
                  <div class="backup_title">
                  <h4> Saturday </h4>
                </div>
                {% for saturday in schedule_backup_day_saturday %}
                    <pre class="badge"> {{ saturday.name}} {{ saturday.schedule_backup_time }}</pre>
                {% endfor %}
              </div>  
         </div>   


        
    </div>  
          

  </div>


</div>



{% endblock %}