{% extends "computermonitor/base.html" %} 
{% load staticfiles %}
{% block content %}


<!-- custom styles -->
<link rel="stylesheet" href="{% static 'computermonitor/css/index.css' %}"> 

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    

  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      function drawChart() {
        var success = Number("{{ success_backup_count }}")
        var number2 = Number("{{ failure_backup_count }}")
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Success',     success ],
          ['Faiures',     number2]    
        ]);

        var options = {
          title: 'Backup Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }

  

  </script>
  


<div class="container">
  
  <div class="row"> 
      <div class="col-md-4 backup_status_graph"> 
        <h3> Backup status:</h3>
        <div class="card" id="piechart" style="width: 350px; height: 300px;"></div>
      </div>
     
      <div class="col-md-3"> 
          <h3> Computers </h3>
          <div class="computer_count">
          <table class="table-bordered" >
              <tr> 
                <td> <img src="{% static "computermonitor/images/apple.jpeg" %}" width="50">   </td>
                <td>  {{  macintosh_computer_count  }}</td>
            
              </tr>
              <tr > 
                  <td> <img src="{% static "computermonitor/images/windows.jpeg" %}" width="50">   </td>
                  <td> {{ windows_computer_count }} </td>
                  
              </tr>
              <tr> 
                  <td> <img src="{% static "computermonitor/images/linux.jpeg" %}" width="50">   </td>
                  <td> {{ linux_computer_count }} </td>
                  
              </tr>    
        
          </table>
        </div>
      </div>
      
   </div>  
   
  
    <div  class="col-md-8 card">
       
        <div class="backup_row">
            <table class="col-md-2">
                    <tr>
                      <td>Daily</td>
                      <td style="background-color: aquamarine;   height: 10px; width: 30px;"  >&nbsp;</td>
                    </tr>
                    <tr>
                            <td>Weekly</td>
                            <td style="background-color: burlywood;" >&nbsp;</td>
                    </tr>
                    <tr >
                            <td>Monthly</td>
                            <td style="background-color: lightgray;" >&nbsp;</td>
                    </tr>
                  
                    <tr height=10 width=30>
                            <td>Manually</td>
                            <td  style="background-color: mediumpurple;" >&nbsp;</td>
                    </tr>
           </table> 
        </div>
     




          <div class="row backup_row"> 

              <div  class="card">
                    <div class="backup_title">
                          <h4> Sunday </h4>
                    </div>
                    {% for sunday in schedule_backup_day_sunday %}

                       {% if sunday.schedule_backuptimes == 1  %}
                              <a href="{% url 'computermonitor:computer_detail' pk=sunday.pk %}" >
                              <pre class="badge" style="background-color: aquamarine; color:mediumpurple;" > {{sunday.name}} {{ sunday.schedule_backup_time }} </pre> </a>        
                       {% endif %}

                       {% if sunday.schedule_backuptimes == 2 %}
                            <a href="{% url 'computermonitor:computer_detail' pk=sunday.pk %}">
                            <pre class="badge" style="background-color: burlywood;"> {{sunday.name}} {{ sunday.schedule_backup_time }} </pre> </a>
                      {% endif %}

                      {% if sunday.schedule_backuptimes == 3 %}
                            <a href="{% url 'computermonitor:computer_detail' pk=sunday.pk %}">
                            <pre class="badge" style="background-color: lightgray; color:mediumpurple;"> {{sunday.name}} {{ sunday.schedule_backup_time }} </pre> </a>
                     {% endif %}


                     {% if sunday.schedule_backuptimes == 4 %}
                            <a href="{% url 'computermonitor:computer_detail' pk=sunday.pk %}">
                            <pre class="badge" style="background-color: mediumpurple;"> {{sunday.name}} {{ sunday.schedule_backup_time }} </pre> </a>
                    {% endif %}


                     
                    {% endfor %} 
                </div>
          
         
              <div  class="card">
                  <div class="backup_title">
                        <h4> Monday </h4>
                  </div>
                  {% for monday in schedule_backup_day_monday %}
                        {% if monday.schedule_backuptimes == 1  %}
                            <a  href="{% url 'computermonitor:computer_detail' pk=monday.pk %}" >
                            <pre class="badge" style="background-color: aquamarine; color:mediumpurple;" > {{monday.name}} {{ monday.schedule_backup_time }} </pre> </a>        
                        {% endif %}


                        {% if monday.schedule_backuptimes == 2 %}
                            <a href="{% url 'computermonitor:computer_detail' pk=monday.pk %}">
                            <pre class="badge" style="background-color: burlywood;"> {{monday.name}} {{ monday.schedule_backup_time }} </pre> </a>
                       {% endif %}

                       {% if monday.schedule_backuptimes == 3 %}
                            <a href="{% url 'computermonitor:computer_detail' pk=monday.pk %}">
                            <pre class="badge" style="background-color: lightgray; color:mediumpurple;"> {{monday.name}} {{ monday.schedule_backup_time }} </pre> </a>
                      {% endif %}

                      {% if monday.schedule_backuptimes == 4 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=monday.pk %}">
                        <pre class="badge" style="background-color: mediumpurple;"> {{monday.name}} {{ monday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                   {% endfor %}

              </div>    
       
              <div  class="card">
                  <div class="backup_title">
                      <h4> Tuesday </h4>
                  </div>
                  {% for tuesday in schedule_backup_day_tuesday %}
                    {% if tuesday.schedule_backuptimes == 1  %}
                    <a  href="{% url 'computermonitor:computer_detail' pk=tuesday.pk %}" >
                    <pre class="badge" style="background-color: aquamarine; color:mediumpurple;" > {{tuesday.name}} {{ tuesday.schedule_backup_time }} </pre> </a>        
                    {% endif %}


                    {% if tuesday.schedule_backuptimes == 2 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=tuesday.pk %}">
                        <pre class="badge" style="background-color: burlywood;"> {{tuesday.name}} {{ tuesday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if tuesday.schedule_backuptimes == 3 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=tuesday.pk %}">
                        <pre class="badge" style="background-color: lightgray; color:mediumpurple;"> {{tuesday.name}} {{ tuesday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if tuesday.schedule_backuptimes == 4 %}
                    <a href="{% url 'computermonitor:computer_detail' pk=tuesday.pk %}">
                    <pre class="badge" style="background-color: mediumpurple;"> {{tuesday.name}} {{ tuesday.schedule_backup_time }} </pre> </a>
                    {% endif %}
                   
                  {% endfor %}
              </div>    
     
            <div  class="card">
                <div class="backup_title">
                  <h4> Wednesday </h4>
                </div>
                {% for wednesday in schedule_backup_day_wednesday %}
                   
                    {% if wednesday.schedule_backuptimes == 1  %}
                    <a  href="{% url 'computermonitor:computer_detail' pk=wednesday.pk %}" >
                    <pre class="badge" style="background-color: aquamarine; color:mediumpurple;" > {{wednesday.name}} {{ wednesday.schedule_backup_time }} </pre> </a>        
                    {% endif %}


                    {% if wednesday.schedule_backuptimes == 2 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=wednesday.pk %}">
                        <pre class="badge" style="background-color: burlywood;"> {{wednesday.name}} {{ wednesday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if wednesday.schedule_backuptimes == 3 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=wednesday.pk %}">
                        <pre class="badge" style="background-color: lightgray; color:mediumpurple;"> {{wednesday.name}} {{ wednesday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if wednesday.schedule_backuptimes == 4 %}
                    <a href="{% url 'computermonitor:computer_detail' pk=wednesday.pk %}">
                    <pre class="badge" style="background-color: mediumpurple;"> {{wednesday.name}} {{ wednesday.schedule_backup_time }} </pre> </a>
                    {% endif %}
                
                {% endfor %}
            </div> 
          </div>
  
          <div class="row backup_row"> 
              <div  class="card">
                  <div class="backup_title">
                      <h4> Thursday </h4>
                  </div>
                  {% for thursday in schedule_backup_day_thursday %}

                    {% if thursday.schedule_backuptimes == 1  %}
                    <a  href="{% url 'computermonitor:computer_detail' pk=thursday.pk %}" >
                    <pre class="badge" style="background-color: aquamarine; color:mediumpurple;" > {{thursday.name}} {{ thursday.schedule_backup_time }} </pre> </a>        
                    {% endif %}


                    {% if thursday.schedule_backuptimes == 2 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=thursday.pk %}">
                        <pre class="badge" style="background-color: burlywood;"> {{thursday.name}} {{ thursday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if thursday.schedule_backuptimes == 3 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=thursday.pk %}">
                        <pre class="badge" style="background-color: lightgray; color:mediumpurple;"> {{thursday.name}} {{ thursday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if thursday.schedule_backuptimes == 4 %}
                    <a href="{% url 'computermonitor:computer_detail' pk=thursday.pk %}">
                    <pre class="badge" style="background-color: mediumpurple;"> {{thursday.name}} {{ thursday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                  {% endfor %}
              </div>    
             
              <div  class="card">
                  <div class="backup_title">
                  <h4> Friday </h4>
                  </div>
                  {% for friday in schedule_backup_day_friday %}

                    {% if friday.schedule_backuptimes == 1  %}
                    <a  href="{% url 'computermonitor:computer_detail' pk=friday.pk %}" >
                    <pre class="badge" style="background-color: aquamarine; color:mediumpurple;" > {{friday.name}} {{ friday.schedule_backup_time }} </pre> </a>        
                    {% endif %}


                    {% if friday.schedule_backuptimes == 2 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=friday.pk %}">
                        <pre class="badge" style="background-color: burlywood;"> {{friday.name}} {{ friday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if friday.schedule_backuptimes == 3 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=friday.pk %}">
                        <pre class="badge" style="background-color: lightgray; color:mediumpurple;"> {{friday.name}} {{ friday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if friday.schedule_backuptimes == 4 %}
                    <a href="{% url 'computermonitor:computer_detail' pk=friday.pk %}">
                    <pre class="badge" style="background-color: mediumpurple;"> {{friday.name}} {{ friday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                  {% endfor %}
              </div>            
                  
              <div  class="card">
                  <div class="backup_title">
                  <h4> Saturday </h4>
                </div>
                {% for saturday in schedule_backup_day_saturday %}

                    {% if saturday.schedule_backuptimes == 1  %}
                    <a  href="{% url 'computermonitor:computer_detail' pk=saturday.pk %}" >
                    <pre class="badge" style="background-color: aquamarine; color:mediumpurple;" > {{saturday.name}} {{ saturday.schedule_backup_time }} </pre> </a>        
                    {% endif %}


                    {% if saturday.schedule_backuptimes == 2 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=saturday.pk %}">
                        <pre class="badge" style="background-color: burlywood;"> {{saturday.name}} {{ saturday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if saturday.schedule_backuptimes == 3 %}
                        <a href="{% url 'computermonitor:computer_detail' pk=saturday.pk %}">
                        <pre class="badge" style="background-color: lightgray; color:mediumpurple;"> {{saturday.name}} {{ saturday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                    {% if saturday.schedule_backuptimes == 4 %}
                    <a href="{% url 'computermonitor:computer_detail' pk=saturday.pk %}">
                    <pre class="badge" style="background-color: mediumpurple;"> {{saturday.name}} {{ saturday.schedule_backup_time }} </pre> </a>
                    {% endif %}

                {% endfor %}
              </div>  
         </div>   


        
    </div>  
          

  </div>


</div>



{% endblock %}